body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoPlayer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 40%;
  height: 50%;
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
}

tr {
  display: flex;
}

td[name="td"] {
  background-image: url("../img/player/__Run.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

td[name="tdMobs"] {
  background-image: url("../img/mobs/mobs.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
